# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Área de Trabalho\Projeto de Pesquisa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
